.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
circle {fill:green;stroke:white;stroke-width:1px;}
svg {display:block;}
svg text {font-size:8px;}
